.app__bottomInfo{
display: flex;
flex-direction: row;
justify-content: space-evenly;
max-width: 85%;
position: relative;
left: 6%;
padding: 20px;
margin-bottom: 40px;
}
.app__col{
    display: flex;
    flex-direction: column;
}
.app__data{
    font-weight: bold;
}