.data{
    display: flex;
    flex-direction: row;
}

.selectLabel{
   /* margin-right: 50px; */

   padding:1px;
   width: 100px;
   margin-left: 50px;
  

}

.button{
    margin-top: 25px;
}


.Counties__title{
    text-align: center;


    font-size: 25px;
    font-weight: bold;
    margin: 20px;

   
}

.Counties__subtitle{
    text-align: center;
    font-size: 15px;
    font-weight: 500;
}