.covidData{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.covid__info{
    background-color: #f6f6f6;
    padding:40px;
    position: relative;
    margin-right: 20px;
    /* top: 3%; */


}

@media(max-width:990px){
    .covid__info{
      padding: 5%;
    }
    }
.countryData--selected{
    /* color:blue; */
   position: relative;
   right: 45%;
}
.covid_label{
    text-align: center;
}
.horizontal{
    width: 50%;
}