.table{
    max-height: 400px;
    overflow:scroll;
    padding-bottom: 15px;
    margin: 30px;
}
.table tr{
    display: flex;
    justify-content: space-between;
    padding:10px 30px

}
.table__number{
    font-weight: bold;
    margin-right: 10%;;
}
.table__country{
    margin-left: 10%;;
}
    

.table__label{
    text-align: center;
    position: relative; 

    left:15%;
    font-size: 25px;
    font-weight: bold;
    margin: 20px;
  

}
@media(max-width:990px){
    .table__label{
        left:5%;

    }
}
.horizontalLine2{
    width:50%;
}